.features-wrapper {
  padding: 70px 40px;
  background: #FFF;
  max-width: 1440px;
  margin: auto;
}

.section-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 6px;
  color: #222;
}

.section-subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 34px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-top: 20px;
}

.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.feature-card:hover{

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.icon-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid rgba(255, 113, 41, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.feature-icon {
  font-size: 24px;
  color: #FF7129;
}

.feature-title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 8px;
  color: #222;
}

.feature-text {
  font-size: 12px;
  color: #555;
  line-height: 1.5;
  margin-bottom: 14px;
}

.learn-more {
  color: #FF7129;
  font-weight: 300;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
}

.learn-more:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

@media (max-width: 600px) {
  .features-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .feature-card {
    padding: 16px;
  }

  .section-title {
    font-size: 26px;
  }

  .section-subtitle {
    font-size: 14px;
  }
}