.contact-page {
  padding: 100px 20px;
  background: #f9fafb;
}

.container {
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

h1 {
  margin-bottom: 10px;
  font-size: 32px;
}

p {
  margin-bottom: 30px;
  color: #666;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}

label span{
    color: #ff0000;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 15px;
}

input:focus,
textarea:focus {
  border-color: #2563eb;
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 6px;
  background: #FF7129;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background: #9ca3af;
  cursor: not-allowed;
}
