.faq-wrapper {
  padding: 70px 40px;
  background: #F9F9F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.section-title {
  font-size: 32px;
  font-weight: 700;
  color: #222;
  margin-bottom: 6px;
}

.section-subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 40px;
}


.faq-list {
  max-width: 800px;
  width: 100%;
}

.faq-item {
  background: white;
  border-radius: 10px;
  padding: 18px 22px;
  margin-bottom: 14px;
  cursor: pointer;
  box-shadow: 0px 4px 14px rgba(0,0,0,0.08);
  transition: 0.2s ease;
}

.faq-item.active {
  border-left: 5px solid #FF7129;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  color: #222;
}

.icon {
  font-size: 22px;
  color: #FF7129;
}

.faq-answer {
  margin-top: 14px;
  font-size: 15px;
  color: #555;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .faq-wrapper {
    padding: 50px 20px;
  }
}
