
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 40px;
  background: white;
  box-shadow: 0 0 2px rgba(0,0,0,0.15);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.logo-box {
  width: 44px;
  height: 44px;
  background: #FF7129;
  color: white;
  font-size: 26px;
  font-weight: 700;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand {
  color: #FF7129;
  font-size: 26px;
  font-weight: 700;
}

.subtitle {
  font-size: 12px;
  color: #555;
  margin-top: -4px;
}


.desktop-menu {
  display: flex;
  gap: 32px;
}

.nav-link {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.nav-link:hover {
  color: #FF7129;
}

.hamburger {
  width: 28px;
  height: 22px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  background: #333;
  border-radius: 5px;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  background: white;
  width: 100%;
  padding: 20px;
  position: fixed;
  top: 80px;
  left: 0;
  box-shadow: 0 6px 10px rgba(0,0,0,0.1);
  z-index: 999;
}

.mobile-menu a {
  padding: 12px 0;
  text-decoration: none;
  font-size: 18px;
  color: #333;
}

.mobile-menu.open {
  display: flex;
}

@media (max-width: 900px) {
  .desktop-menu {
    display: none;
  }
  .hamburger {
    display: flex;
  }
}
